.gate-container {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--verde);
  background-color: var(--negro);
  color: var(--blanco);
  margin: 10px;
}
.error {
  color: var(--rojo);
}
