:root {
  --rojo: #e63946;
  --negro: #0d0d0d;
  --verde: #2a9d8f;
  --blanco: #f1faee;
}

body {
  background-color: var(--negro);
  color: var(--blanco);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--verde);
}
